* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  margin: 0;
}
body {
  display: grid;
  grid-template-rows: auto 1fr 80px;
  grid-gap: 20px;
  padding: 20px;
}
main {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 10px;
}
p {
  margin: 0;
}
table {
  width: 100%;
}
footer {
  height: 80px;
  display: grid;
  align-items: center;
}
.container {
  display: grid;
}
.row {
  grid-template-columns: auto 1fr auto;
}
.summary {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: end;
  gap: 10px;
  height: 100px;
}
.summary .item {
  border: 1px solid black;
}
.item {
  display: grid;
  text-align: center;
  align-content: center;
  width: 100px;
}
.end {
  justify-content: end;
}
.logo {
  padding-right: 10px;
}
.logo img {
  width: 110px;
  height: 110px;
}
.text {
  text-align: left;
}
.number,
.amount {
  text-align: right;
}
.label {
  font-weight: bold;
  font-size: 0.7rem;
  text-transform: uppercase;
}
